*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background: url('./cover.jpg') no-repeat center center fixed;
    background-size: cover;
   
} 
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    visibility: hidden;
    padding-top: 40px;
   
    
}
.searchMusic{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.go{
    min-width: 40%;
    border-radius: 7px;
    outline: none;
    color: rgb(29, 28, 28);
    border: 2px solid rgba(44, 46, 46, 0.4);
    background-color: transparent;
    height: 40px;

 

}

.buttonMusic{
    min-width: 70px;
    border-radius: 7px;
    color: rgb(87, 84, 84);
    border: 2px solid rgba(44, 46, 46, 0.4);
    cursor: pointer;
} 
      

.buttonMusic:hover{
    background-color: rgba(85, 87, 87, 0.3);
   
    color: rgb(44, 43, 43);
} 


.allInfo{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  

}
.artistName{
    font-size: 20px;
}
.posterImg{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}


.text{
    color: #8fa28d;
    font-size: large;
}

.home{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
 
}
.home:hover{
    color: rgb(95, 93, 93);
}
.searchAlbums{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.searchAlbums:hover{
    color: rgb(95, 93, 93);
}
.info{
    width: 80%;
    height: 300px;
    overflow-y: scroll;
    text-align: justify;
}
.poster{
    width: 80%;
}

.videoContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    }

.videoName{
    font-size: 14px;
    font-weight: 600;
}
.oneVideo{
    width: 40%;
}
.vid{
    width: 100%;
}
.goOnArtist{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    visibility: hidden;
    position: relative;
    left: 70px;
    bottom: 70px;
}
.goOnArtist:hover{
    color: rgb(95, 93, 93);
}
.albumsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
}
.oneAlbumName{
    cursor: pointer;
}
.oneAlbumName:hover{
    color: rgb(95, 93, 93);
}
.albumAndSongs{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    font-size: 20px;
    
}
.albumName{
    font-size: 30px;
}
.albumContainer{
    font-size: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.albumCover{
    width: 80%;
}
.albumImg{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
   
}
.tracks{
 
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 90px; 
    flex-direction: column;  
   align-items: center;
}
@media all and (max-width:769px ){
    .videoName{
        font-size: 12px;
    }
    .albumAndSongs{
        width: 100%;
        position: relative;
        bottom: 60px;
    }
    .albumContainer{
        width:60%;
        justify-content: space-between;
    }
    .tracks{
        align-items: center;
        width: 50%;
    }

}
@media all and (max-width:414px){
    .videoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .oneVideo{
        width: 100%;
         }
    .albumAndSongs{
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 120px;
         }
    .albumContainer{
        width: 90%;
    }
    .tracks{
        width:100%;
        align-items: center;
    }
}
