*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background: url('./cover.jpg') no-repeat center center fixed;
    background-size: cover;
   
} 
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    visibility: hidden;
    padding-top: 40px;
   
    
}
.searchMusic{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.go{
    width: 300px;
    border-radius: 7px;
    outline: none;
    color: rgb(56, 54, 54);
    border: 2px solid rgba(44, 46, 46, 0.3);
    background-color: transparent;
    height: 40px;

 

}

.buttonMusic{
    width: 70px;
    border-radius: 7px;
    color: rgb(87, 84, 84);
    border: 2px solid rgba(44, 46, 46, 0.3);
    cursor: pointer;
} 
      

.buttonMusic:hover{
    background-color: rgba(85, 87, 87, 0.3);
   
    color: rgb(68, 66, 66);
} 


.allInfo{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  

}
.artistName{
    font-size: 20px;
}
img{
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
   
}

.text{
    color: #8fa28d;
    font-size: large;
}

.home{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
 
}
.home:hover{
    color: rgb(95, 93, 93);
}
.searchAlbums{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.searchAlbums:hover{
    color: rgb(95, 93, 93);
}
.info{
    width: 80%;
    height: 300px;
    overflow-y: scroll;
    text-align: justify;
}
.poster{
    width: 80%;
}
.posterImg{
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.videos{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.vid{
    width: 100%;
}
.goOnArtist{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    visibility: hidden;
    position: relative;
    left: 70px;
    bottom: 70px;
}
.goOnArtist:hover{
    color: rgb(95, 93, 93);
}
.albumsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
}
.oneAlbumName{
    cursor: pointer;
}
.oneAlbumName:hover{
    color: rgb(95, 93, 93);
}
.albumAndSongs{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    font-size: 20px;
    
}
.albumName{
    font-size: 30px;
}
.albumContainer{
    text-align: center;
    font-size: 30px;
    width: 50%;

}
.tracks{
 
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 90px; 
    flex-direction: column;  
}
